# Philippines major flood events

A demo notebook to extract major flood events specific to the Philippines.

Data from https://floodobservatory.colorado.edu/Archives/index.html

In [93]:
# Imports
import pandas as pd
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="floodtranslations")
from time import sleep

First show all the flooding events within the Philippines.

The data gives us the following information:
- **GlideNumber**: The corresponding GLobal IDEntifier Number (GLIDE)
- **Country**: Name of the country
- **OtherCountry**: If the flood affected another country and the country it affected
- **long**:  Longitude value of the location coordinates of the flood event
- **lat**:  Latitude value of the location coordinates of the flood event
- **Area**: Affected flood area–geographic area affected by reported flooding (km2)
- **Began**: The date of onset
- **Ended**: The date of end
- **Validation**: Verification method
- **Dead**: Number of Fatalities
- **Displaced**: Number of displaced people
- **MainCause**: The main factor that caused the flood
- **Severity**: Severity of flood-related to flood frequency, assessment is on 1–2 scale, discrete index

Overview of the severity classes:

**Class 1**: Large flood events. Significant damage to structures or agriculture; fatalities; and/or 1–2 decades-long reported interval since the last similar event has occurred.

**Class 1.5**: Very large events. Larger than 20 years, however, less than 100-year recurrence interval, and/or a local recurrence interval of at 10–20 year and affecting a large geographic region (> 5000 square km).

**Class 2**: Extreme events. With an estimated recurrence interval greater than 100 years

In [102]:
excel = pd.read_excel("data/FloodArchive.xlsx")
phili = excel[excel['Country'] == 'Philippines']
phili

,ID,GlideNumber,Country,OtherCountry,long,lat,Area,Began,Ended,Validation,Dead,Displaced,MainCause,Severity
25,26,0,Philippines,0,120.916,14.74170,7768.19,1985-06-22,1985-06-30,News,98,130000,Tropical cyclone,1.0
88,89,0,Philippines,NaN,120.905,15.64560,46621.61,1986-07-09,1986-07-13,News,103,530000,Tropical cyclone,1.0
108,109,0,Philippines,0,120.882,14.65530,24915.98,1986-10-06,1986-10-07,News,18,60000,Heavy rain,1.0
183,184,0,Philippines,0,121.197,14.65810,3302.96,1988-06-01,1988-06-06,News,35,5000,Tropical cyclone,1.0
261,262,0,Philippines,0,125.763,8.56968,5343.55,1988-10-22,1988-10-26,News,181,60000,Tropical cyclone,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5004,5006,NaN,Philippines,NaN,121.117,16.93310,49952.36,2020-12-17,2020-12-23,FloodList,8,3000,Storm Vicky,1.5
5024,5026,NaN,Philippines,NaN,124.940,12.17650,7008.09,2021-02-08,2021-02-14,FloodList,1,10000,Heavy Rain,1.5
5027,5029,NaN,Philippines,NaN,125.893,9.05230,4426.83,2021-02-21,2021-02-22,FloodList,0,60000,Tropical Storm Dijuan (Auring),1.5
5054,5056,NaN,Philippines,NaN,125.485,7.01944,4521.68,2021-04-26,2021-04-27,FloodList,0,419,Torrential Rain,1.5
5077,5079,NaN,Philippines,NaN,124.730,8.60607,115039.24,2021-05-31,2021-06-02,FloodList,0,600,Tropical Storm Dante,1.5

These can be caused by multiple causes. The next cell shows the main causes for floods in the Philippines and how many times they caused a major flood.

In [44]:
phili["MainCause"].value_counts()

MainCause
Tropical cyclone                       50
Heavy rain                             35
Heavy Rain                             19
Torrential Rain                        11
Monsoonal rain                          8
Tropical Cyclone                        8
Brief torrential rain                   6
Monsoonal Rain                          4
Tropical storms Melor, Onyok            1
Monsoonal Rain and Offshore Tropica     1
Tropical Storm Nari                     1
Tropical Storm Dijuan (Auring)          1
Tropical Storm Haiyan/Yolanda           1
Tropical Storm Fung-Wong                1
Tropical Storm Jangmai                  1
Tropical Storm Koppu                    1
Tropical Storm  Usman                   1
Tropical Storm Kai-Tak                  1
Tropical Storm Ramon                    1
Tropical Storm Bopha                    1
Tropical Storm Kammuri/Tisoy            1
Tropical Storm Molave                   1
Tropical Storm Vamco                    1
Storm Vicky                             1
Tropical Storm Auring                   1
Tropical stroms Pendring and Nalgae     1
Tropical Storm Saola                    1
Tropical Storm                          1
Torrential rain                         1
Typhoon Fenshen                         1
Tropical Storm "Fung-wong"              1
High Tides                              1
snowmelt                                1
Tropical Cyclone, Morakot               1
Tropical storm Ketsana/On               1
Monoonal Rain                           1
Typhoon Parma                           1
Tropical Storm Mirinae                  1
Tropical Storm "Basyang"                1
Torrential Rain and Mudslides           1
Tropical Storm Aere                     1
Tropical Storm Washi                    1
Tropical Storm Dante                    1
Name: count, dtype: int64

In [103]:
# New dataframe format:
# Start, end, duration, main cause, location, people affected, severity, validation
floods = phili.copy()
duration = phili["Ended"] - phili['Began']
floods = floods[['ID', 'Began', 'Ended', 'MainCause', 'Area', 'Dead', 'Displaced', 'Severity', 'Validation']]
floods.insert(loc = 3,
          column = 'Duration',
          value = duration)
floods.sort_values('Began')
floods

,ID,Began,Ended,Duration,MainCause,Area,Dead,Displaced,Severity,Validation
25,26,1985-06-22,1985-06-30,8 days,Tropical cyclone,7768.19,98,130000,1.0,News
88,89,1986-07-09,1986-07-13,4 days,Tropical cyclone,46621.61,103,530000,1.0,News
108,109,1986-10-06,1986-10-07,1 days,Heavy rain,24915.98,18,60000,1.0,News
183,184,1988-06-01,1988-06-06,5 days,Tropical cyclone,3302.96,35,5000,1.0,News
261,262,1988-10-22,1988-10-26,4 days,Tropical cyclone,5343.55,181,60000,1.0,News
...,...,...,...,...,...,...,...,...,...,...
5004,5006,2020-12-17,2020-12-23,6 days,Storm Vicky,49952.36,8,3000,1.5,FloodList
5024,5026,2021-02-08,2021-02-14,6 days,Heavy Rain,7008.09,1,10000,1.5,FloodList
5027,5029,2021-02-21,2021-02-22,1 days,Tropical Storm Dijuan (Auring),4426.83,0,60000,1.5,FloodList
5054,5056,2021-04-26,2021-04-27,1 days,Torrential Rain,4521.68,0,419,1.5,FloodList
5077,5079,2021-05-31,2021-06-02,2 days,Tropical Storm Dante,115039.24,0,600,1.5,FloodList

In [106]:
# What we still want to know:
# Start, duration, main cause, sorted by time, severity, how it was validated

# towns = []

# for i in range(len(floods)): 
# #     print(phili.iloc[i])
#     location = geolocator.reverse(str(phili.iloc[i]['lat'])+", "+ str(phili.iloc[i]['long']))
#     address = location.raw['address']
#     if address.get('country_code', '') != 'ph':
#         print(phili.iloc[i])
#         print(address)
#         print()
# #     town = address.get('town', '')
# #     towns.append(town)
#     sleep(1)

# # towns
i=4978
location = geolocator.reverse(str(excel.iloc[i]['lat'])+", "+ str(excel.iloc[i]['long']))
address = location.raw['address']
address

{'county': 'ເມືອງຕະໂອ້ຍ',
 'state': 'ສາລະວັນ',
 'ISO3166-2-lvl4': 'LA-SL',
 'country': 'ປະເທດລາວ',
 'country_code': 'la'}

The next cell will show the full results just once.

In [104]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(floods)

,ID,Began,Ended,Duration,MainCause,Area,Dead,Displaced,Severity,Validation
25,26,1985-06-22,1985-06-30,8 days,Tropical cyclone,7768.190,98,130000,1.0,News
88,89,1986-07-09,1986-07-13,4 days,Tropical cyclone,46621.610,103,530000,1.0,News
108,109,1986-10-06,1986-10-07,1 days,Heavy rain,24915.980,18,60000,1.0,News
183,184,1988-06-01,1988-06-06,5 days,Tropical cyclone,3302.960,35,5000,1.0,News
261,262,1988-10-22,1988-10-26,4 days,Tropical cyclone,5343.550,181,60000,1.0,News
265,266,1988-11-04,1988-11-08,4 days,Tropical cyclone,10609.960,255,1000000,1.0,News
327,352,1989-08-09,1989-08-14,5 days,Heavy rain,20682.860,112,0,1.0,News
341,370,1989-09-23,1989-09-25,2 days,Heavy rain,1321.630,2,0,1.0,News
342,371,1989-10-06,1989-10-10,4 days,Tropical cyclone,5324.030,45,8846,1.0,News
343,325,1989-07-16,1989-07-20,4 days,Tropical cyclone,46659.180,26,186000,1.0,News
344,374,1989-09-10,1989-09-12,2 days,Tropical cyclone,36937.570,17,3000,1.0,News
346,376,1989-11-03,1989-11-08,5 days,Tropical cyclone,11863.890,30,0,1.0,News
420,421,1990-06-17,1990-06-19,2 days,Torrential rain,3614.790,36,236,1.0,News
424,425,1990-06-20,1990-06-25,5 days,Tropical cyclone,71151.200,63,86000,1.0,News
451,452,1990-08-25,1990-09-01,7 days,Tropical cyclone,69902.340,66,1500,1.0,News
456,457,1990-09-07,1990-09-10,3 days,Tropical cyclone,96171.730,7,15000,1.0,News
481,482,1990-11-12,1990-11-16,4 days,Tropical cyclone,55710.210,176,984356,1.0,News
534,535,1991-07-10,1991-07-13,3 days,Tropical cyclone,5762.820,2,0,1.0,News
546,547,1991-07-23,1991-07-28,5 days,Tropical cyclone,12142.140,16,20000,1.0,News
580,581,1991-09-07,1991-09-08,1 days,Monsoonal rain,400.017,0,10000,1.0,News
596,597,1991-11-05,1991-11-08,3 days,Tropical cyclone,20704.700,6315,28000,2.0,News
679,680,1992-08-14,1992-09-29,46 days,Tropical cyclone,70409.780,45,250000,2.0,News
709,710,1992-10-28,1992-10-30,2 days,Tropical cyclone,56290.270,3,3300,1.0,News
717,718,1992-12-22,1992-12-27,5 days,Heavy rain,15083.860,6,22000,1.0,News
727,728,1993-02-01,1993-02-05,4 days,Monsoonal rain,23141.360,23,90000,1.0,News
754,755,1993-06-26,1993-06-28,2 days,Monsoonal rain,19660.560,5,22700,1.0,News
769,770,1993-08-19,1993-08-22,3 days,Heavy rain,7160.800,5,10000,1.0,News
786,787,1993-10-04,1993-10-12,8 days,Heavy rain,35873.110,57,300000,2.0,News
802,803,1993-11-29,1993-12-01,2 days,Heavy rain,359.297,27,0,1.0,News
804,805,1993-12-05,1993-12-13,8 days,Tropical cyclone,46913.010,353,598000,1.0,News
816,817,1993-12-27,1993-12-28,1 days,Tropical cyclone,1266.810,6,12000,1.0,News
819,820,1994-01-04,1994-01-08,4 days,Tropical cyclone,44225.950,29,14000,1.0,News
837,838,1994-03-18,1994-03-31,13 days,Heavy rain,36858.210,9,16821,1.0,News
860,861,1994-07-10,1994-07-16,6 days,Tropical cyclone,37086.970,0,0,1.0,News
863,864,1994-07-15,1994-07-20,5 days,Tropical cyclone,12359.240,8,114674,1.0,News
867,868,1994-07-22,1994-08-02,11 days,Monsoonal Rain,25394.770,2,18000,1.0,News
868,869,1994-07-23,1994-08-03,11 days,Tropical cyclone,22004.150,37,264837,1.0,News
872,873,1994-08-06,1994-08-10,4 days,Tropical cyclone,18141.640,0,0,1.0,News
900,902,1994-09-19,1994-09-24,5 days,Monsoonal Rain,4145.560,16,10000,1.0,News
904,906,1994-10-18,1994-10-22,4 days,Tropical cyclone,12751.530,4,50000,1.0,News
905,907,1994-10-18,1994-10-22,4 days,Tropical cyclone,13653.630,12,12480,1.0,News
923,926,1994-12-19,1994-12-23,4 days,Tropical cyclone,51066.390,10,548000,1.0,News
973,974,1995-07-29,1995-07-31,2 days,Tropical cyclone,9189.850,0,20000,1.0,News
987,988,1995-08-29,1995-09-06,8 days,Monsoonal rain,23531.040,3,45000,1.0,News
988,989,1995-09-04,1995-09-15,11 days,Heavy rain,14893.780,180,50000,1.0,News
1012,1013,1995-09-30,1995-10-03,3 days,Tropical cyclone,189621.170,150,176000,1.0,News
1018,1019,1995-10-09,1995-10-26,17 days,Tropical cyclone,7275.470,100,450000,1.0,News
1027,1028,1995-10-28,1995-11-05,8 days,Tropical cyclone,209708.230,765,766000,1.0,News
1034,1035,1995-12-10,1995-12-16,6 days,Brief torrential rain,6966.610,12,9000,1.0,News
1036,1037,1995-12-24,1995-12-27,3 days,Heavy rain,19778.420,18,6000,1.0,News
1037,1038,1995-12-24,1995-12-27,3 days,NaN,10938.810,0,0,1.0,News
1042,1043,1996-01-06,1996-01-12,6 days,Heavy rain,4871.580,0,2000,1.0,News
1096,1097,1996-07-22,1996-08-03,12 days,Heavy Rain,23203.290,89,40000,1.0,News
1214,1215,1997-03-09,1997-03-13,4 days,Heavy rain,18316.690,18,105000,1.0,News
1224,1225,1997-05-25,1997-05-27,2 days,Tropical cyclone,10763.250,35,210000,1.0,News
1456,1456,1998-10-13,1998-10-17,4 days,Tropical cyclone,70498.490,48,30000,1.0,News
1492,1493,1999-02-20,1999-02-22,2 days,Brief torrential rain,27978.330,39,2700,2.0,News
1552,1553,1999-09-10,1999-09-14,4 days,Brief torrential rain,22628.810,1,4500,1.0,News
1579,1580,1999-12-25,1999-12-28,3 days,Heavy rain,32003.110,8,2000,1.0,News
1598,1599,2000-05-18,2000-05-30,12 days,Tropical cyclone,11736.110,6,112000,1.0,News
1611,1612,2000-07-04,2000-07-10,6 days,Brief torrential rain,11595.060,45,800000,1.0,News
1630,1632,2000-09-04,2000-09-05,1 days,Heavy rain,1633.720,3,5000,1.0,News
1653,1655,2000-10-28,2000-10-31,3 days,Brief torrential rain,7059.580,41,100000,1.0,News
1658,1660,2000-11-03,2000-11-05,2 days,Tropical cyclone,5875.210,43,668000,1.0,News
1693,1694,2001-02-16,2001-02-19,3 days,Tropical cyclone,5961.330,17,98360,1.0,News
1742,1743,2001-07-01,2001-07-19,18 days,Heavy rain,205221.430,178,800000,2.0,News
1821,1822,2001-11-06,2001-11-09,3 days,Tropical cyclone,612.352,320,223000,1.0,News
1833,1834,2001-12-05,2001-12-07,2 days,Heavy rain,2807.360,2,10000,1.0,News
1979,1981,2002-07-06,2002-07-19,13 days,Monsoonal rain,20604.450,61,25000,1.0,News
1996,1998,2002-07-20,2002-07-28,8 days,Tropical cyclone,12840.760,18,7000,1.0,News
2028,2030,2002-08-13,2002-08-17,4 days,Tropical cyclone,11679.240,29,3000,1.0,News
2189,2189,2003-03-20,2003-03-21,1 days,Heavy rain,371.086,8,0,1.0,News
2232,2235,2003-05-26,2003-05-30,4 days,Heavy rain,17427.040,41,8357,2.0,News
2251,2254,2003-06-15,2003-06-18,3 days,Tropical Cyclone,22834.670,11,70000,1.0,News
2262,2264,2003-06-25,2003-06-26,1 days,Heavy rain,1183.340,2,10000,1.0,News
2282,2284,2003-07-19,2003-07-23,4 days,Tropical Cyclone,70175.040,22,20000,1.0,News
2315,2318,2003-08-11,2003-08-18,7 days,Heavy rain,7446.010,0,145000,1.0,News
2355,2355,2003-09-21,2003-09-22,1 days,Brief torrential rain,116.886,9,0,1.0,News
2404,2407,2003-12-19,2004-01-07,19 days,Heavy rain,12916.990,200,97500,1.0,News
2432,2434,2004-02-11,2004-02-25,14 days,Heavy rain,20372.960,7,20000,1.0,News
2512,2514,2004-06-28,2004-06-30,2 days,Heavy rain,2079.620,5,1200,1.0,News
2514,2516,2004-06-29,2004-07-13,14 days,Tropical cyclone,84821.820,54,385000,2.0,News
2537,2539,2004-07-31,2004-08-13,13 days,Heavy rain,2439.380,0,80000,1.0,News
2552,2554,2004-08-24,2004-09-12,19 days,Tropical cyclone,38781.500,67,1058849,2.0,News
2585,2587,2004-11-19,2004-11-29,10 days,Tropical cyclone,14671.980,61,35000,1.0,News
2587,2589,2004-11-23,2004-11-28,5 days,Tropical cyclone,21572.620,26,8000,1.0,News
2590,2592,2004-11-29,2004-12-22,23 days,Heavy rain,39971.510,939,432000,1.0,News
2697,2699,2005-07-27,2005-07-30,3 days,Monsoonal rain,1058.180,3,32782,1.0,News
2728,2730,2005-09-15,2005-09-27,12 days,Monsoonal rain,12975.730,16,8000,1.0,News
2783,2785,2006-01-26,2006-02-05,10 days,Heavy rain,63468.410,4,256641,1.0,News
2798,2800,2006-02-10,2006-02-18,8 days,Monsoonal rain,78789.890,20,30000,1.0,News
2812,2814,2006-03-04,2006-03-06,2 days,Heavy rain,628.611,1,1000,1.0,News
2860,2862,2006-05-11,2006-05-14,3 days,Tropical Cyclone,24930.100,41,42000,1.0,News
2919,2921,2006-07-11,2006-07-19,8 days,Tropical Cyclone,612225.680,629,2450000,2.0,News
2930,2932,2006-07-24,2006-07-28,4 days,Tropical Cyclone,350925.230,36,1500000,1.0,News
2935,2937,2006-07-30,2006-08-02,3 days,Tropical Cyclone,2751.410,8,476027,1.0,News
2939,2941,2006-08-02,2006-08-06,4 days,Tropical Cyclone,162839.520,87,840000,1.0,News
2967,2969,2006-09-27,2006-10-06,9 days,Heavy rain,69819.970,260,250000,1.0,News
2979,2981,2006-10-21,2006-10-27,6 days,Heavy rain,3683.470,1,40000,1.0,News
2986,2988,2006-10-30,2006-11-01,2 days,Heavy rain,23984.700,19,300000,1.0,News
3000,3002,2006-11-30,2006-12-08,8 days,Heavy rain,45657.960,526,82915,1.0,News
3006,3008,2006-12-29,2007-01-15,17 days,Heavy rain,1618.270,12,50000,1.0,News
3012,3014,2007-01-10,2007-01-24,14 days,Heavy rain,44621.630,6,24508,1.0,News
3171,3173,2007-08-17,2007-08-24,7 days,Tropical cyclone,460403.430,42,600000,1.5,News
3214,3216,2007-10-27,2007-11-02,6 days,Heavy rain,4597.660,20,0,1.0,News
3220,3222,2007-11-04,2007-11-06,2 days,Tropical cyclone,25809.140,7,2000,1.0,News
3227,3229,2007-11-18,2007-11-23,5 days,Tropical cyclone,11139.890,13,15000,1.0,News
3230,3232,2007-11-25,2007-12-02,7 days,Tropical cyclone,33589.730,29,540000,1.0,News
3271,3273,2008-02-12,2008-03-12,29 days,Heavy rain,41665.930,54,873000,1.0,News
3303,3305,2008-05-10,2008-05-18,8 days,Tropical cyclone,26746.420,1,50000,1.0,News
3305,3307,2008-05-18,2008-05-22,4 days,Tropical cyclone,14848.590,37,34000,1.0,News
3317,3320,2008-06-21,2008-06-23,2 days,Typhoon Fenshen,178346.080,1000,0,1.5,News
3336,3339,2008-07-28,2008-07-29,1 days,"Tropical Storm ""Fung-wong""",61672.680,4,76000,2.0,News
3406,3409,2008-11-18,2008-11-24,6 days,Heavy Rain,21766.040,6,30000,1.0,News
3412,3415,2008-12-01,2008-12-04,3 days,High Tides,24107.570,0,0,2.0,News
3424,3427,2008-12-28,2009-01-19,22 days,Heavy Rain,36190.070,25,3500,1.0,News
3434,3437,2009-01-20,2009-01-27,7 days,Heavy Rain,17181.280,11,0,1.0,News
3441,3444,2009-02-02,2009-02-12,10 days,Heavy Rain,8472.930,0,2000,1.0,News
3474,3477,2009-05-01,2009-06-07,37 days,snowmelt,21367.430,0,0,1.5,News
3509,3506,2009-07-16,2009-07-18,2 days,Tropical Cyclone,47243.510,5,0,1.0,0
3514,3518,2009-07-25,2009-08-04,10 days,Torrential Rain,36975.160,10,200000,1.5,0
3516,3520,2009-08-07,2009-08-08,1 days,"Tropical Cyclone, Morakot",24556.640,20,173000,1.5,0
3533,3537,2009-09-01,2009-09-10,9 days,Tropical Storm,36440.730,9,0,2.0,0
3543,3547,2009-09-25,2009-10-01,6 days,Tropical storm Ketsana/On,25299.260,420,200000,2.0,0
3548,3552,2009-10-02,2009-10-17,15 days,Typhoon Parma,34498.770,438,40000,2.0,0
3556,3560,2009-10-30,2009-11-04,5 days,Tropical Storm Mirinae,124931.910,0,98,1.5,0
3652,3656,2010-05-29,2010-06-01,3 days,Torrential Rain,22339.980,27,0,1.0,0
3682,3686,2010-07-12,2010-07-15,3 days,"Tropical Storm ""Basyang""",34784.500,23,0,1.5,0
3734,3738,2010-11-02,2010-11-05,3 days,Torrential Rain and Mudslides,15301.910,9,0,1.5,News
3761,3765,2011-01-01,2011-01-18,17 days,Heavy Rain,10773.790,53,10000,2.0,News
3769,3773,2011-01-25,2011-01-31,6 days,Torrential Rain,3623.610,0,32342,1.5,News
3773,3777,2011-02-01,2011-02-04,3 days,Torrential Rain,44521.720,11,2000,1.5,News
3785,3789,2011-03-14,2011-03-18,4 days,Torrential Rain,25963.780,9,14138,1.5,News
3807,3811,2011-05-08,2011-05-11,3 days,Tropical Storm Aere,3179.220,10,0,1.5,News
3816,3820,2011-06-05,2011-06-21,16 days,Heavy Rain,71700.830,15,15000,1.5,News
3826,3830,2011-06-28,2011-06-29,1 days,Heavy Rain,6361.930,25,0,1.5,News
3863,3867,2011-09-28,2011-10-02,4 days,Tropical stroms Pendring and Nalgae,18520.070,1,180000,2.0,News
3873,3877,2011-11-10,2011-11-15,5 days,Torrential Rain,3076.390,0,30000,1.5,News
3880,3884,2011-12-16,2011-12-22,6 days,Tropical Storm Washi,23573.860,957,1000,2.0,News
3894,3898,2012-02-12,2012-02-14,2 days,Heavy Rain,869.906,0,13327,1.5,News
3896,3900,2012-02-20,2012-02-27,7 days,Torrential Rain,39825.280,0,25000,1.0,News
3910,3914,2012-03-26,2012-03-30,4 days,Torrential Rain,5045.750,4,0,1.0,News
3931,3935,2012-06-08,2012-06-12,4 days,Heavy Rain,23515.690,1,700,1.0,News
3949,3953,2012-07-21,2012-07-23,2 days,Monoonal Rain,9576.580,8,0,1.5,News
3952,3956,2012-07-28,2012-08-06,9 days,Tropical Storm Saola,59723.230,3,13000,1.5,News
4001,4005,2012-12-04,2012-12-04,0 days,Tropical Storm Bopha,68024.320,74,60000,2.0,News
4011,4015,2013-01-03,2013-01-10,7 days,Tropical Storm Auring,6143.560,0,520,1.0,News
4012,4016,2013-01-04,2013-01-10,6 days,Heavy Rain,51781.980,0,3180,1.0,News
4038,1968,2002-06-26,2002-06-27,1 days,Heavy Rain,2407.790,6,0,1.0,News
4081,4084,2013-08-13,2013-08-21,8 days,Monsoonal Rain and Offshore Tropica,50412.400,8,280000,2.0,News
4090,4093,2013-10-12,2013-10-14,2 days,Tropical Storm Nari,54531.070,13,2500,2.0,News
4097,4100,2013-11-08,2013-11-19,11 days,Tropical Storm Haiyan/Yolanda,32476.990,2000,200000,2.0,News
4150,4153,2014-06-17,2014-06-25,8 days,Heavy Rain,15356.310,0,35000,1.0,News
4186,4189,2014-09-19,2014-10-11,22 days,Tropical Storm Fung-Wong,30855.030,5,83000,1.5,News
4214,4217,2014-12-10,2015-01-01,22 days,Tropical Storm Jangmai,63967.390,53,80186,1.5,News
4275,4278,2015-07-12,2015-07-21,9 days,Monsoonal Rain,16151.080,4,3000,1.0,News
4284,4287,2015-08-02,2015-08-05,3 days,Torrential Rain,9791.460,7,0,1.0,News
4297,4300,2015-10-22,2015-10-28,6 days,Tropical Storm Koppu,80271.750,54,60000,2.0,News
4315,4318,2015-12-12,2016-01-06,25 days,"Tropical storms Melor, Onyok",6147.670,40,20000,1.5,News
4381,4385,2016-07-29,2016-08-03,5 days,Monsoonal Rain,10618.160,0,260000,1.0,News
4433,4436,2017-01-16,2017-01-21,5 days,Heavy Rain,46236.690,4,13559,1.0,News
4437,4440,2017-02-01,2017-02-07,6 days,Heavy Rain,30389.110,13,334000,1.5,News
4482,4485,2017-06-12,2017-06-14,2 days,Heavy Rain,8703.640,0,0,1.0,News
4524,4527,2017-09-22,2017-09-24,2 days,Torrential Rain,10299.670,0,400,1.0,News
4549,4552,2017-12-16,2017-12-19,3 days,Tropical Storm Kai-Tak,47769.010,27,230000,1.5,News
4710,4713,2018-12-29,2019-01-07,9 days,Tropical Storm Usman,45871.980,100,80000,1.5,FloodList
4715,4718,2019-01-26,2019-01-29,3 days,Heavy Rain,43546.930,0,20000,1.5,FloodList
4762,4765,2019-06-03,2019-06-23,20 days,Heavy Rain,5390.180,0,45000,1.5,FloodList
4824,4827,2019-11-14,2019-11-19,5 days,Tropical Storm Ramon,24395.150,0,2000,1.5,FloodList
4828,4831,2019-12-02,2019-12-06,4 days,Tropical Storm Kammuri/Tisoy,132059.690,17,500000,2.0,FloodList
4977,4979,2020-10-24,2020-11-02,9 days,Tropical Storm Molave,84650.990,61,3000,1.5,FloodList
4978,4980,2020-11-11,2020-11-18,7 days,Tropical Storm Vamco,160743.710,13,250000,2.0,FloodList
5004,5006,2020-12-17,2020-12-23,6 days,Storm Vicky,49952.360,8,3000,1.5,FloodList
5024,5026,2021-02-08,2021-02-14,6 days,Heavy Rain,7008.090,1,10000,1.5,FloodList
5027,5029,2021-02-21,2021-02-22,1 days,Tropical Storm Dijuan (Auring),4426.830,0,60000,1.5,FloodList
5054,5056,2021-04-26,2021-04-27,1 days,Torrential Rain,4521.680,0,419,1.5,FloodList
5077,5079,2021-05-31,2021-06-02,2 days,Tropical Storm Dante,115039.240,0,600,1.5,FloodList

In [65]:
print('Flooding events found: ' + str(len(floods)))

Flooding events found: 177